*{
    background-color: #242124;
    margin: 0px;
    padding: 0px;
    font-family:  'Courier New', Courier, monospace;
}

header{
    
       height: 100vh;
       background-size: cover;
       background-position: center;
       min-height: 100px;
}

ul{
       float: right;
       list-style-type: none;
       margin-top: 30px;
       min-height: 400%;
       margin-right: 60px;
       font-size: 17px;
}
ul li{
       display: inline-block;
}
   
ul li a{
       text-decoration: none;
       color: #FAE6FA;
       padding: 5px 20px;
       border: 1px solid transparent;
       transition: 0.5 ease
} 
ul li a:hover{
       background-color: #9370DB;
       color: #FAE6FA;
}

.main{
    margin-right: 50%;
    margin-top: 5px;
}

.title h2{
    margin: 10%;
    color:#BE93E4;
}

.img{
    margin: 10%;
}

.body{
    margin-right: 10%;
    margin-left: 12%;
    color: #9370DB;
    
}

.btn:hover{
    background-color: #9370DB;
    color: #000;

}

p{
    color: #FAE6FA
}

.iframe:hover{
    background-color: #9370DB;
    color: #000;

}